* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    min-height: 100dvh;
    width: 95%;
    margin: 0 auto;
    border: 2px solid black;
    display: flex;
    padding: 50px;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

#human-board,#computer-board {
    min-height: 500px;
    min-width: 500px;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}

.grid-item {
    border: 1px solid black;
}

.ship {
    background-color: aquamarine;
}