* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    min-height: 100dvh;
    width: 95%;
    margin: 0 auto;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.player-name {
    border: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    background-color: beige;
}

.hide-form {
    display: none;
}

.player-name > input, button {
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid black
}

#human-board,#computer-board {
    min-height: 500px;
    min-width: 500px;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    position: relative;
}

span {
    position: absolute;
    top: -40px;
    left: 10px;
    font-size: 2rem;
}

.grid-item {
    border: 1px solid black;
}

.ship {
    background-color: aquamarine;
}

.compShip {
    background-color: white;
}

.missed {
    background-color: blue;
}

.sunk {
    background-color: red;
}